
/* Color del cuerpo de la página */
body {
    background: #E7E8EB;
}
/* Colores bonitos a los links */

nav ul {

  /* propiedades de flexbox */
  align-items: baseline;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* fin del flexbox */
  min-height: 3.75em;
  /* propiedades de flexbox */
  justify-content:space-around;
  /* fin del flexbox */
  margin: 0;
  padding: 0 2px;
}


/* Colores bonitos a los links */
nav ul > li {
/* propiedades de flexbox */
  flex: 1;
/* fin del flexbox */
  list-style: none;
}

nav ul li{
    border-bottom: 3px solid transparent;
    text-align: center;
}

nav ul li a{
    color: #5C616C;
    display: block;
    font-family: roboto;
    font-size: 18px;
    padding: 0.875em 1em;
    text-decoration: none;
}

/* Decoración cuando se ponga el cursor sobre un link */

nav a:hover {
    border-bottom: 3px solid #E2525D;
}

/* Decoración cuando un link sea seleccionado */
nav a:active {
    border-bottom: 3px solid #E2525D;
}

/* Estilo del primer tbody */
tbody {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: hidden hidden hidden hidden;
	border-collapse: collapse;
}

/* FIN DE LOS MENÚS */


/* CSS para el footer de todas las páginas */

footer {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #CC575D;
    text-align: center;
    font-family: roboto;
}

p.copyright {
    text-align: center;
    color: #E7E8EB;
    font-family: roboto;
    font-weight: 500;
}

/* Fin del CSS para el footer */

/* Estilo de la dirección IP */

main section article{
	background-color: #E7E8EB;
   color: #CC575D;
	font-family: roboto;
	font-size: 4cm;
   font-weight: 900;
   line-height: 15%;
   text-align: center;
}

section:last-child{
	margin: 0 auto;	
	text-align: center;
}


/* Botón de generación de usuario*/
input[type=submit]{
    background-color: #CC575D; /* Arc red color */
    border: none;
    border-radius: 8px;
    color: white;
    display:block;
    font-size: 0.4em;
    margin: 0 auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

input[type=submit]:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Fin del CSS para INDEX.html */

/* Inicio del CSS para quees.html */

.title {
    color: #CC575D;
    text-align: center;
    font-weight: 800;
    font-family: roboto;
}

.service {
    color: #2F343F;
    font-weight: 600;
    font-family: roboto;
}

/* Fin del CSS para quees.html */

/* Inicio del CSS para la página de descargas */

.download {
    text-align: center;
    color: #CC575D;
    font-weight: 900;
    font-family: roboto;
}

.ovpn {
    text-align: center;
    color: #5294E2;
    font-weight: 900;
    font-family: roboto;
}

/* Fin del CSS para la página de descargas */

/* Inicio del CSS para la página de donaciones */

.donation1 {
    text-align: center;
    color: #CC575D;
    font-weight: 900;
    font-family: roboto;
}

.ayuda {
    text-align: center;
    color: #CC575D;
    font-weight: 900;
    font-family: roboto;
}

.cafe {
    text-align: center;
    color: #5294E2;
    font-weight: 900;
    font-family: roboto;
}

.donlink {
    text-align: center;
    color: #5294E2;
    font-weight: 900;
    font-family: roboto;
}
